

<div *ngIf="tasks && tasks.length !== 0; else emptyList">

   <div *ngIf="taskView === task_extended_view_value">
            <app-single-task [task]="task" [mediaChange]="mediaChange" *ngFor="let task of tasks;trackBy: trackByFn">

            </app-single-task>
    </div>

 <div *ngIf="taskView === task_simple_view_value">
      <app-single-task-simplified [task]="task" *ngFor="let task of tasks;trackBy: trackByFn"></app-single-task-simplified>
 </div>


</div>

<ng-template  #emptyList>
    <span>Tasks list is empty</span>
</ng-template>
