<cdk-virtual-scroll-viewport itemSize="90" class="viewport">
    <div *ngIf="!selectedProject"  class="project-header">
        <div class="header">
            <div>All tasks</div>
            <div fxFlex></div>
            <tickist-sort-tasks></tickist-sort-tasks>
            <tickist-filter-tasks [showTags]="true"></tickist-filter-tasks>
            <tickist-change-task-view [defaultTaskView]="defaultTaskView"
                              (currentTaskViewEvent)="changeTaskView($event)"></tickist-change-task-view>

        </div>
    </div>
    <div *ngIf="selectedProject"  class="project-header">
        <div class="header">
            <div>{{ selectedProject.name }}</div>
            <div fxFlex></div>
            <tickist-menu-button [icon]="'edit'" [fontSize]="'18px'" data-cy="edit-project"
                                 (click)="navigateToEditProjectView(selectedProject.id)">
            </tickist-menu-button>
            <tickist-sort-tasks></tickist-sort-tasks>
            <tickist-filter-tasks [showTags]="true"></tickist-filter-tasks>
            <tickist-change-task-view [defaultTaskView]="defaultTaskView"
                              (currentTaskViewEvent)="changeTaskView($event)"></tickist-change-task-view>
        </div>

        <div *ngIf=projectHasDescription(selectedProject)
             class="project-description" [innerHTML]="selectedProject.richDescription"></div>

    </div>

    <tickist-single-task  [task]="task" [mediaChange]="mediaChange" [taskView]="taskView" [user]="user"
                     *cdkVirtualFor="let task of tasks;trackBy: trackByFn; let last = last" [last]="last">
    </tickist-single-task>
    <tickist-no-tasks [tasksLength]="tasks.length"></tickist-no-tasks>

</cdk-virtual-scroll-viewport>



