<cdk-virtual-scroll-viewport itemSize="90" class="viewport">

    <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <span>Tags</span>
        <span fxFlex></span>

        <tickist-change-task-view [defaultTaskView]="user?.defaultTaskViewTagsView"
                          (currentTaskViewEvent)="changeTaskView($event)"></tickist-change-task-view>

        <tickist-filter-tasks [showTags]="false" [isAssignedToVisible]="true"> </tickist-filter-tasks>


    </div>


    <tickist-single-task class="item" [task]="task" [mediaChange]="mediaChange" [taskView]="taskView"
                     *cdkVirtualFor="let task of tasks$ | async; trackBy: trackByFn, let last = last" [last]="last">

    </tickist-single-task>
    <tickist-no-tasks [tasksLength]="(tasks$ | async)?.length"></tickist-no-tasks>

</cdk-virtual-scroll-viewport>
