@import "../../shared/variables";
@import "../../shared/commons";

:host {
    button {
        @extend .tickist-icon-button;
    }
}

::ng-deep .pinned{
    transform: rotate(-45deg);
    color: $orange !important;
    visibility: visible !important;

    &:hover {
        transform: rotate(0deg);
        color: $white;

        .fas {
            color: $white;
        }
    }

    .fas {
        color: $orange !important;
    }

}

::ng-deep .unpinned {
    &:hover {
        transform: rotate(-45deg);
        color: $orange !important;

        .fas {
            color: $orange !important;
        }
    }
}
