<div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="20" fxLayoutAlign="center center">
        <fa-icon [icon]="'user-plus'" [ngStyle]="{'color':'white'}"></fa-icon>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start" >
        <span class="notification-title">{{notification.title}}</span>
        <span class="notification-description">{{notification.description}}</span>
        <span class="notification-time">{{notification.date}}</span>
    </div>
    <div>
        <div fxFlex="5" fxLayoutAlign="center center">
            <fa-icon [icon]="['fas', 'circle']" [ngStyle]="{'color':'white'}"></fa-icon>
            <fa-icon [icon]="['far', 'circle']" [ngStyle]="{'color':'white'}"></fa-icon>
        </div>
    </div>

</div>
