.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}

fa-icon {
    margin-left: 5px;
}

.content {
    padding: 5px
}

::ng-deep .mat-dialog-container {
    overflow: hidden !important;
}
