<div id="project"  fxLayout="row" fxLayoutAlign="center center"
     [ngClass]="{'isActive': isSelected}" (click)="navigateTo('/home/projects', project.id, $event)" >
    <div fxFlex  fxLayout="row" fxLayoutAlign="center center">
        <span *ngIf='project.level==1' fxFlex="15px"></span>
        <span *ngIf='project.level==2' fxFlex="30px"></span>
        <i class="fa fa-list" [ngStyle]="{'color': project.color}"></i>

        <span> {{ project.name }} </span>
        <span fxFlex></span>
        <span class="tasks-counter" *ngIf="!activeCheckboxMode"> {{ project.tasksCounter }} </span>
    </div>

    <mat-checkbox [(ngModel)]="isActive" *ngIf="isSelected && activeCheckboxMode"
                 (change)="changeId($event)">
    </mat-checkbox>
</div>

