<div class="task" fxLayout="row" fxLayoutAlign="start none">


    <div (click)="toggleDone()" [ngClass]="task.priority" class="done">
        <i class="fa" [ngClass]="{'fa-check-square-o': task.status == 1, 'fa-square-o': task.status == 0, 'fa-pause': task.status == 2 }"></i>
    </div>

    <tickist-task-name [task]="task" ></tickist-task-name>
    <span style="flex: 1 1 1e-09px;"></span>
     <tickist-right-menu [isRightMenuVisible]="isRightMenuVisible"
                                [task]="task"
                                (deleteTaskClick)="deleteTask()"
                                (togglePinClick)="togglePin()"
                                (changeDateClick)="changeDate($event)"
                                (changePriorityClick)="changePriority($event)"
                                (fastMenuOpen)="changeFastMenuVisible($event)"
                                (fastMenuClose)="changeFastMenuVisible($event)">
         
     </tickist-right-menu>
    <div class="right-menu" *ngIf="finishDateVisible">
        <tickist-display-finish-date [task]="task" *ngIf="task.finishDate"></tickist-display-finish-date>
    </div>
        <!--<div class="hover">-->
            <!--<tickist-pin-button [pinned]="task.pinned"  (click)="togglePin()">-->

            <!--</tickist-pin-button>-->

            <!--<tickist-menu-button [icon]="'fa-edit'"-->
                     <!--[routerLink]="['/home/task', task.id]">-->
            <!--</tickist-menu-button>-->

            <!--<tickist-menu-button [icon]="'fa-ellipsis-v'">-->
            <!--</tickist-menu-button>-->
        <!--</div>-->
    <!--</div>-->


</div>
