@import "variables";

.priority_A {
    ::ng-deep .mat-button-toggle-label-content {
        color: $priority_A
    }
    ::ng-deep &.mat-button-toggle-checked {
        ::ng-deep .mat-button-toggle-label-content {
             color: $white;
        }
        background-color: $priority_A;

    }
    ::ng-deep .mat-button-toggle-focus-overlay {
        background-color: transparent !important;
    }
}

.priority_B {
    ::ng-deep .mat-button-toggle-label-content {
        color: $priority_B
    }
    ::ng-deep &.mat-button-toggle-checked {
        ::ng-deep .mat-button-toggle-label-content {
             color: $white;
        }
        background-color: $priority_B;

    }
    ::ng-deep .mat-button-toggle-focus-overlay {
        background-color: transparent !important;
    }
}

.priority_C {
    ::ng-deep .mat-button-toggle-label-content {
        color: $priority_C
    }
    ::ng-deep &.mat-button-toggle-checked {
        ::ng-deep .mat-button-toggle-label-content {
             color: grey;
        }
        background-color: $priority_C;

    }
    ::ng-deep .mat-button-toggle-focus-overlay {
        background-color: transparent !important;
    }
}
