<div id="first-row">
    <mat-icon [ngStyle]="{'color':project.color}" matTreeNodeToggle matBadge="{{tasksCounter}}" matBadgePosition="above after" matBadgeColor="project.color" (click)="toggle()">
        {{ isExpanded ? 'expand_more' : 'chevron_right'}}
    </mat-icon>

    <span class="project-name" matTreeNodeToggle>{{ project.name }}</span>
    <div fxFlex></div>
    <tickist-menu-button [ngClass]="{'visibility-hidden': !showEditProjectButton}" [icon]="'fa-pencil-square-o'" [fontSize]="'18px'"
                         [routerLink]="['/home/project/', project?.id]" [matTooltip]="'Edit project'">
    </tickist-menu-button>
</div>

<div class="project-description">
    {{ project.richDescription}}

</div>

