@import "../../../../shared/variables";

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;

    #first-row {
        width: 100%;
        display: flex;
        font-size: 20px;
        .project-name {
            width: 100%;
            cursor: pointer;
        }
    }
    .project-description {
        margin-top: 10px;
        padding-left: 40px;
    }
}

mat-icon {
    margin-right: 30px;
    cursor: pointer;
}

.visibility-visible {
    visibility: visible;
}

.visibility-hidden {
    visibility: hidden;
}

fa-icon {
    padding-right: 5px;
}

.orange {
    color: $orange;
}
