# Created by https://www.gitignore.io
.idea
.idea/*
dist/*
dist
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot


# ZSH env file
.env
# node modules
*node_modules


.DS_Store
debug.log

git-version.json
firebase-debug.log
proven-reality-657-ea57273a5a76.json
credentials.json
serviceAccount.json
serviceAccountTesting.json
serviceAccount*.json
cypress/config.json
cypress/config_ci.json
cypress/config_testing.json
cypress.env.json
/proven-reality-657-firebase-adminsdk-etp92-6397074848.json

firestore-debug.log
