<div id="reset-password-container" class="flex-container" fxLayoutAlign="center center" fxLayout="row">

    <mat-card fxLayoutAlign="center center" fxLayout="column">
        <img class="logo" mat-card-image src="/assets/images/logo_230.png" alt="Tickist logo">
        <div>Please enter new password.</div>
        <form fxLayout="column" fxLayoutAlign="space-between none" [formGroup]="setNewPasswordForm"
              (ngSubmit)="changePassword($event, setNewPasswordForm.value)">
            <div class="error"
                 *ngIf="setNewPasswordForm.hasError('mismatchedPasswords') && setNewPasswordForm.controls['password'].touched && setNewPasswordForm.controls['confirmPassword'].touched">
                Password and conform password should be the same.
            </div>

            <div class="error"
                 *ngIf="setNewPasswordForm.controls['password'].hasError('minlength') && setNewPasswordForm.controls['password'].touched">
                Old password should contain at least 4 distinct characters.
            </div>
            <div class="error"
                 *ngIf="setNewPasswordForm.controls['password'].hasError('minlength') && setNewPasswordForm.controls['password'].touched">
                New Password should contain at least 4 distinct characters.
            </div>

            <mat-form-field>
                <input matInput id="new_password" type="password" name="net password"
                       placeholder="New password"
                       [formControl]="setNewPasswordForm.controls['password']"
                       [ngClass]="{'input-error': ((setNewPasswordForm.controls['password'].hasError('required') ||
                       setNewPasswordForm.controls['password'].hasError('minlength') ||
                       (setNewPasswordForm.controls['confirmPassword'].touched &&
                       setNewPasswordForm.hasError('mismatchedPasswords')))  &&
                       setNewPasswordForm.controls['password'].touched)}"
                >

            </mat-form-field>
            <mat-form-field>
                <input matInput id="confirm_new_password" type="password" name="confirm_new_password"
                       placeholder="Confirm new password"
                       [formControl]="setNewPasswordForm.controls['confirmPassword']"
                       [ngClass]="{'input-error': ((setNewPasswordForm.controls['confirmPassword'].hasError('required') ||
                                   (setNewPasswordForm.hasError('mismatchedPasswords') &&
                                   setNewPasswordForm.controls['password'].touched)) &&
                                   setNewPasswordForm.controls['confirmPassword'].touched)}"
                >
            </mat-form-field>

            <div class="pull-right">
                <button type="submit" mat-button [disabled]="!setNewPasswordForm.valid">Change password
                </button>
            </div>

        </form>
    </mat-card>
</div>
