@import "../../variables";

.priority_A {
    ::ng-deep .mat-button-toggle-label-content {
        color: $priority_A !important;
    }

    ::ng-deep &.mat-button-toggle-checked {
        ::ng-deep .mat-button-toggle-label-content {
            color: $white !important;
        }

        background-color: $priority_A !important;

    }

    ::ng-deep .mat-button-toggle-focus-overlay {
        background-color: transparent !important;
    }
}

.priority_B {
    ::ng-deep .mat-button-toggle-label-content {
        color: $priority_B !important;
    }

    ::ng-deep &.mat-button-toggle-checked {
        ::ng-deep .mat-button-toggle-label-content {
            color: $white !important;
        }

        background-color: $priority_B !important;

    }

    ::ng-deep .mat-button-toggle-focus-overlay {
        background-color: transparent !important;
    }
}

.priority_C {
    ::ng-deep .mat-button-toggle-label-content {
        color: $priority_C !important;
    }

    ::ng-deep &.mat-button-toggle-checked {
        ::ng-deep .mat-button-toggle-label-content {
            color: grey !important;
        }

        background-color: $priority_C !important;

    }

    ::ng-deep .mat-button-toggle-focus-overlay {
        background-color: transparent !important;
    }
}
