<div #container fxLayout="row" >
    <tickist-toggle-button fxFlex="38px" (click)="toggleDone()" [priority]="task.priority"
                           [isDone]="task.isDone" [isOnHold]="task.onHold">

    </tickist-toggle-button>

    <div fxFlex style="width: 90%;">
        <div #firstRow id="first-row"  fxLayout="row" fxLayoutAlign="start center">
            <tickist-task-type-label *ngIf="isTaskTypeLabelVisible" fxFlex="120px" [task]="task"></tickist-task-type-label>
            <tickist-task-name fxFlex [task]=task></tickist-task-name>
            <tickist-right-menu fxFlex="90px" [isRightMenuVisible]="true"
                                [task]="task"
                                (deleteTaskClick)="deleteTask()"
                                (togglePinClick)="togglePin()"
                                (changeDateClick)="changeDate($event)"
                                (changePriorityClick)="changePriority($event)"
                                (fastMenuOpen)="changeFastMenuVisible($event)"
                                (fastMenuClose)="changeFastMenuVisible($event)"
                                (convertTo)="convertTo($event)"
            >
            </tickist-right-menu>
        </div>
        <div id="second-row">
            <tickist-menu-button id="taskProjectNameIcon"
                                 [icon]="task.taskProject.icon[1]"
                                 [iconPrefix]="task.taskProject.icon[0]"
                                 [color]="task.taskProject.color"
                                 (click)="changeShowing('isTaskProject')"
                                 [matTooltip]="task.taskProject.name">
            </tickist-menu-button>
            <tickist-menu-button id="taskDescriptionIcon"
                                 [icon]="'comment'"
                                 [isDisabled]="!task.description"
                                 (click)="changeShowing('isDescription')">
            </tickist-menu-button>
            <tickist-menu-button [icon]="'tags'"
                                 [isDisabled]="tags.length === 0"
                                 (click)="changeShowing('isTags')">
            </tickist-menu-button>
            <tickist-menu-button [icon]="'redo'" [matTooltip]="repeatString"
                                 [isDisabled]="task.repeat == 0"
                                 (click)="changeShowing('isRepeat')">
            </tickist-menu-button>

            <tickist-user-avatar (click)="changeShowing('isAssignedTo')" [userId]="task.owner.id"
                                 [avatarUrl]="task.owner.avatarUrl" [size]="'18x18'" [username]="task.owner.username"
                                 *ngIf="isSharedProject()" [styles]="[{name: 'margin-top', value: '5px'}]">
            </tickist-user-avatar>
            <tickist-progress-bar id="taskSteps" (click)="changeShowing('isSteps')"
                                  [percent]="amountOfStepsDoneInPercent"
                                  [isDisabled]="task.steps.length === 0"></tickist-progress-bar>
            <span style="flex: 1 1 1e-09px;"></span>
            <tickist-display-finish-date [task]="task" *ngIf="task.finishDate"
                                         (click)="changeShowing('isFinishDate')"></tickist-display-finish-date>


        </div>
    </div>

</div>

<div>

    <div class="task-description" *ngIf="task.menuShowing.isDescription">
        <div fxLayout="row" fxLayoutAlign="end center">
            <tickist-menu-button [icon]="'times'" (click)="hideAllMenuElements()">
            </tickist-menu-button>
        </div>
        <div [innerHTML]="task.richDescription"></div>

    </div>


    <div id="steps" *ngIf="task.menuShowing.isSteps" class="steps">
        <div fxLayout="row" fxLayoutAlign="end center">
            <tickist-menu-button [icon]="'times'" (click)="hideAllMenuElements()">
            </tickist-menu-button>
        </div>
        <div class="step" *ngFor="let step of task.steps" fxLayout="row" fxLayoutAlign="start stretch"
             (click)="toggleDoneStep(step)">
            <fa-icon data-cy="stepIsDone" [icon]="['far', 'check-square']" *ngIf="step.status === 1"></fa-icon>
            <fa-icon data-cy="stepIsUndone" [icon]="['far', 'square']" *ngIf="step.status === 0"></fa-icon>
            <span [ngClass]="{'taskstep-done-step-name': step.status === 1}" fxFlex>{{ step.name }}</span>
        </div>

    </div>

    <div *ngIf="task.menuShowing.isTags" class="task-tags">
        <div fxLayout="row" fxLayoutAlign="end center">
            <tickist-menu-button [icon]="'times'" (click)="hideAllMenuElements()">
            </tickist-menu-button>
        </div>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of tags">
                <span class="chip-name">{{ tag.name }}</span>
                <span fxFlex></span>
                <fa-icon [ngStyle]="{'margin-left': '5px'}" matTooltip="Remove tag" (click)="removeTag(tag)" [icon]="'times'"></fa-icon>
            </mat-chip>
        </mat-chip-list>

    </div>

    <div id="repeat-options" *ngIf="task.menuShowing.isRepeat">
        <div fxLayout="row" fxLayoutAlign="end center">
            <tickist-menu-button [icon]="'times'" (click)="hideAllMenuElements()">
            </tickist-menu-button>
        </div>
        <tickist-edit-repeating-option [task]="task"></tickist-edit-repeating-option>

    </div>

    <div id="change-project-task" *ngIf="task.menuShowing.isTaskProject">
        <div fxLayout="row" fxLayoutAlign="end center">
            <tickist-menu-button class='close-menu-icon' [icon]="'times'" (click)="hideAllMenuElements()">
            </tickist-menu-button>
        </div>
        <mat-form-field>
            <mat-select placeholder="Project:" [formControl]="selectTaskProject"
                        (selectionChange)="changeProject($event)">
                <mat-option *ngFor="let project of projects$ | async" [ngClass]="project.matOptionClass"
                            [value]="project.id"> {{ project.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div id="change-assigned-to" *ngIf="task.menuShowing.isAssignedTo">
        <div fxLayout="row" fxLayoutAlign="end center">
            <tickist-menu-button [icon]="'times'" (click)="hideAllMenuElements()">
            </tickist-menu-button>
        </div>
        <mat-form-field>
            <mat-select placeholder="Assigned to:" [(ngModel)]="task.owner.id"
                        (selectionChange)="changeAssignedTo($event)">
                <mat-option *ngFor="let userId of task.taskProject.shareWithIds"
                            [value]="userId"> {{ userId | changeUserIdToUserName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div id="finish-date-options" *ngIf="task.menuShowing.isFinishDate">
        <div fxLayout="row" fxLayoutAlign="end center">
            <tickist-menu-button [icon]="'times'" (click)="hideAllMenuElements()">
            </tickist-menu-button>
        </div>

        <tickist-date-options [task]="task"></tickist-date-options>

    </div>

</div>
