@import "../../../../../../shared/variables";

#all-projects {
    height: 40px;
    cursor: pointer;
    padding-left: 5px;

    &:hover {
        background-color: grey;
    }
}

#add-project {
    height: 40px;
    cursor: pointer;
    padding-left: 5px;

    span {
        color: $orange;
    }

    &:hover {
        background-color: grey;
    }
}
