@import "../shared/variables";
@import "../shared/commons";

mat-list-item {
    cursor: pointer;
    p {
        margin: 0 5px 0 5px;
    }
    &:hover {
        background: gray;
        margin-right: 10px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px
    }
}

.fa {
    cursor: pointer;
}

.fa-question {
    cursor: help !important;
}

.close {
    float: right;
}



#steps {
    // position:fixed;
    padding-left: 0;
    list-style: none;
}

.step {
    .hover-visible {
        visibility: hidden;
        margin-right: 5px;
    }
    &:hover {
        .hover-visible {
            visibility: visible;
        }
    }
}

.active {
    background: gray;
    margin-right: 10px;
    border-bottom: solid 5px #11a8ab;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.from-repeating-wrapper {
    margin-top: 5px;
}

.radio-button-active-task {
    font-weight: 400;
}

.button {
    background-color: $orange;
    margin-left: 20px;
}
