<cdk-virtual-scroll-viewport itemSize="90" class="viewport">

    <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <span>Tags</span>
        <span fxFlex></span>

        <change-task-view [defaultTaskView]="user?.defaultTaskViewTagsView"
                          (currentTaskViewEvent)="changeTaskView($event)"></change-task-view>

        <app-filter-tasks [showTags]="false"></app-filter-tasks>


    </div>


    <tickist-single-task class="item" [task]="task" [mediaChange]="mediaChange" [taskView]="taskView"
                     *cdkVirtualFor="let task of tasks$ | async; trackBy: trackByFn, let last = last" [last]="last">

    </tickist-single-task>
    <tickist-no-tasks [tasksLength]="tasks?.length"></tickist-no-tasks>

</cdk-virtual-scroll-viewport>
