@import "../../../../shared/variables";

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex: 1;
}


#signup-container {
    width: 100%;
    height: 100%;

    mat-card {
        width: 300px;
    }
}


.submit-button-container {
    width: 100%;
    padding: 16px 0 16px 0;

    .button {
        background-color: $orange;
    }
}

mat-form-field {
    margin-top: 10px;
}

.login-text-container {
    padding: 16px 0 16px 0;
    width: 100%;
    span {
        display: block;
    }
    .login-text {
        cursor: pointer;
        font-size: 12px;
    }
    .reset-password {
        cursor: pointer;
        font-size: 12px;
    }
}

.logo {
    padding-top: 16px;
    height: 97px;
    width: 230px;
}

.social-login {
    span {
        padding: 10px;
    }
}
