@import "../../shared/variables";

:host {
    div {
        background-color: $background_card_color;
        margin-left: 20px;
        cursor: pointer;
    }
    input {
        color: $white;
        cursor: pointer;
    }
}
