@import "../../../../shared/variables";

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex: 1;
}


#login-container {
    width: 100%;
    height: 100%;

    mat-card {
        width: 300px;
    }
}

.sign-up-text-container {
    padding: 16px 0 16px 0;

    .sign-up-text {
        cursor: pointer;
        font-size: 12px;
    }
}


.login-button-container {
    margin-top: 20px;
    padding: 16px 0 16px 0;
    width: 100%;

    .button {
        background-color: $orange;
    }
}

.logo {
    padding-top: 16px;
    height: 97px;
    width: 230px;
}
