<div id="login-container" class="flex-container" fxLayoutAlign="center center" fxLayout="row">

    <mat-card fxLayoutAlign="center center" fxLayout="column">
        <img class="logo" mat-card-image src="/assets/images/logo_230.png" alt="Tickist logo">
        <form novalidate autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)"
              fxLayoutAlign="center none" fxLayout="column">

            <mat-form-field>
                <input name="email" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="loginForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>


            <mat-form-field>
                <input name="password" matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="loginForm.controls['password'].hasError('incorrectLoginPassword')">Login or password
                    are incorrect
                </mat-error>
            </mat-form-field>


            <div class="login-button-container">
                <button id="submit-button" fxFlex mat-button class="button" type="submit">Login
                </button>
            </div>

            <!--<div fxLayout="row">-->
            <!--<button mat-button type="button">Google</button>-->
            <!--<button mat-button type="button">Facebook</button>-->
            <!--</div>-->


            <!--<span [routerLink]="['/forgot-password']">Forgot password?</span>-->
            <div class="sign-up-text-container">
                <span class="sign-up-text" [routerLink]="['/signup']"> Don't have an account? Sign up</span>
            </div>

        </form>
    </mat-card>
</div>
