:host {
    font-size: 14px;
    box-sizing: border-box;
    max-height: 100%;
    place-content: center;
    overflow: hidden;
    div {
        margin-right: 5px;
    }
    .task-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
