<div fxLayoutAlign="start center">

    <div class="task-name" #taskNameDiv *ngIf="tooltip" (resized)="onResized()" [innerHTML]="task.richName"
         [matTooltip]="task.name"></div>
    <div class="task-name" #taskNameDiv *ngIf="!tooltip" (resized)="onResized()"
         [innerHTML]="task.richName"></div>

    <div fxFlex *ngIf="onlyEstimateTime" [matTooltip]="'estimated time'">({{ task.estimateTime|minutes2hours }})</div>


    <div fxFlex *ngIf="timeAndEstimateTime" [matTooltip]="'estimated time and real time'">
        ({{ task.estimateTime|minutes2hours }}
        / {{ task.time|minutes2hours }})
    </div>

    <div fxFlex *ngIf="onlyTime" [matTooltip]="'time'">({{ task.time|minutes2hours }})</div>

</div>
