<tickist-pin-button [pinned]="task.pinned" *ngIf="isRightMenuVisible || task.pinned" (click)="emitTogglePinClickEvent()">

</tickist-pin-button>
<tickist-menu-button [icon]="'edit'"
                     (click)="navigateToEditTaskView(task.id)"
                     [matTooltip]="'edit task'"
                     *ngIf="isRightMenuVisible">
</tickist-menu-button>

<tickist-menu-button [icon]="'ellipsis-v'"
                     [matMenuTriggerFor]="menu"
                     (onMenuClose)="emitOnMenuClose($event)"
                     (onMenuOpen)="emitOnMenuOpen($event)"
                     *ngIf="isRightMenuVisible"
                     data-cy="task-short-menu">
</tickist-menu-button>

<mat-menu #menu="matMenu" >

    <div>
        <span>Priority</span>
        <div>
            <tickist-priority [ngStyle]="{'z-index': '1000'}" [manualValue]="task.priority" (change)="emitChangePriorityClickEvent($event)">

            </tickist-priority>
        </div>


        <span>Change date</span>
        <div style="margin-top:10px">
            <tickist-menu-button [icon]="'desktop'"
                                 [matTooltip]="'today'"
                                 (click)="emitChangeDataClickEvent('today')">
            </tickist-menu-button>
            <tickist-menu-button [icon]="'sun'"
                                 [matTooltip]="'next day'"
                                 (click)="emitChangeDataClickEvent('next_day')">
            </tickist-menu-button>
            <tickist-menu-button [icon]="'reply'"
                                 [matTooltip]="'next week'"
                                 [transform]="'rotate(-180deg)'"
                                 (click)="emitChangeDataClickEvent('next_week')">
            </tickist-menu-button>
            <tickist-menu-button [icon]="'fast-forward'"
                                 [matTooltip]="'end of month'"
                                 (click)="emitChangeDataClickEvent('lastDayOfMonth')">
            </tickist-menu-button>
            <tickist-menu-button [icon]="'reply-all'"
                                 [matTooltip]="'next month'"
                                 [transform]="'rotate(-180deg)'"
                                 (click)="emitChangeDataClickEvent('next_month')">
            </tickist-menu-button>
        </div>
    </div>
    <div id="delete-button">
        <button data-cy="delete-task-button" mat-button (click)="emitDeleteTaskEvent()"><span>delete</span></button>
    </div>


</mat-menu>


