@import "../../../../shared/variables";

:host {
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.button {
    background-color: $orange;
    color: $white;
}


.zero-notifications {
    color: $white;
    padding: 10px;
    span {
        color: $white;
    }
}
