<h1 mat-dialog-title><span>Do you want to change the finish date?</span></h1>
<mat-dialog-content>
    <span class="description">You can adjust the finish date by your overdue tasks.</span>
    <form [formGroup]="changeDate" novalidate>
        <mat-form-field>
            <input matInput
                   formControlName="finishDate"
                   (focus)="picker.open()"
                   (click)="picker.open()"
                   [matDatepicker]="picker"
                   placeholder="Choose date">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close(changeDate.value?.finishDate)">Save</button>
    <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>

<mat-datepicker #picker></mat-datepicker>
