<div *ngIf="typeFinishDateOptions && task" fxLayout="column">
    <span>Complete:</span>
    <mat-radio-group [value]="typeFinishDate" (change)="saveTask($event, 'typeFinishDate')">
        <mat-radio-button [ngStyle]="{'margin-right': '10px'}" *ngFor="let option of typeFinishDateOptions"
                          [value]="option.id">
            {{ option.name }}
        </mat-radio-button>
    </mat-radio-group>
    <div class="date-wrapper" fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-form-field>
            <input matInput [matDatepickerFilter]="minFilter"
                   [(ngModel)]="finishDate"
                   (focus)="picker.open()"
                   (click)="picker.open()"
                   [matDatepicker]="picker"
                   (dateChange)="saveTask($event)"
                   (dateInput)="saveTask($event)"
                   placeholder="Choose a date"
                   #finishDateInputViewChild="ngModel">
            <tickist-menu-button [icon]="'close'" (click)="clearFinishDate($event)" matSuffix></tickist-menu-button>
            <mat-error
                    *ngIf="finishDateInputViewChild.invalid && (finishDateInputViewChild.dirty || finishDateInputViewChild.touched)">
                Date format is invalid
            </mat-error>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>

        <mat-form-field *ngIf="finishDate">
            <input matInput #finishTimeInputViewChild="ngModel" type="time" [(ngModel)]="finishTime" (change)="saveTask($event)"
                   placeholder="Choose time">
            <tickist-menu-button [icon]="'close'" (click)="clearFinishTime($event)" matSuffix></tickist-menu-button>
        </mat-form-field>
    </div>

</div>
