<div id="first-row">
    <mat-icon [ngStyle]="{'color':project.color}" matTreeNodeToggle matBadge="{{tasksCounter}}" matBadgePosition="above after" matBadgeColor="project.color" (click)="toggle()">
        {{ isExpanded ? 'expand_more' : 'chevron_right'}}
    </mat-icon>

    <span class="project-name" matTreeNodeToggle>{{ project.name }}</span>
    <div fxFlex></div>
    <tickist-menu-button [icon]="'ellipsis-v'"
                         [matMenuTriggerFor]="menu">
    </tickist-menu-button>


</div>

<div class="project-description">
    {{ project.richDescription}}

</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToCreateNewChildProject(project?.id)">
        <fa-icon [icon]="'plus'" [ngClass]="'orange'" [classes]="'orange'"></fa-icon>
        <span class="orange">Create child project</span>

    </button>
    <button mat-menu-item (click)="navigateToEditProjectView(project?.id)">
        <fa-icon [icon]="'edit'"></fa-icon>
        <span>Edit project</span>
    </button>
</mat-menu>
