<div class="header" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start center" ><span >Tasks for {{activeDateElement?.date |datetostring }}</span></div>
    <span fxFlex></span>
    <tickist-change-task-view [defaultTaskView]="defaultTaskView" (currentTaskViewEvent)="changeTaskView($event)"></tickist-change-task-view>
</div>


<tickist-single-task class="item" [task]="task" [mediaChange]="mediaChange" [taskView]="taskView" [user]="user"
                 *ngFor="let task of tasks;trackBy: trackByFn">

</tickist-single-task>
<tickist-no-tasks [tasksLength]="tasks.length"></tickist-no-tasks>
