@import "../../../../shared/variables";

:host {
    .tree-viewport {
        margin-left: 16px
    }

    .buttons {
        background-color: $background_card_color;
        margin-left: 16px;

        fa-icon {
            margin: 10px;
        }
    }

    fa-icon {
        cursor: pointer;
    }

    .orange {
        color: $orange;
    }
}
