<span>
  <span [innerHTML]="task.name|truncate: 60 " [matTooltip]="task.name" *ngIf="tooltip"></span>
  <span *ngIf="!tooltip">{{ task.name }}</span>
</span>
<span *ngIf="onlyEstimateTime">
  <span  [matTooltip]="'estimated time'">({{ task.estimateTime|minutes2hours }})</span>
</span>
<span  *ngIf="timeAndEstimateTime">
  <span [matTooltip]="'estimated time and real time'">({{ task.estimateTime|minutes2hours }} / {{ task.time|minutes2hours }})</span>
</span>
<span  *ngIf="onlyTime">
  <span [matTooltip]="'time'">({{ task.time|minutes2hours }})</span>
</span>


