<mat-card>
<div >Summary for {{ activeDay|datetostring }}</div>

<div *ngIf="dayStatistics">

    <div class="single-chart"  *ngFor="let chart of charts" [hidden]="!isChartActive(chart.id)">
        <canvas baseChart height="300"
                [datasets]="chart.data.datasets" 
                [colors]="chart.data.colors"
                [options]="chart.data.options"
                [legend]="chart.data.legend"
                [chartType]="chart.data.chartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            
        </canvas>
        
        <tickist-chart-legend [data]="chart.legend"></tickist-chart-legend>

    </div>

    <div id="charts-dots" div fxLayout="row" fxLayoutAlign="center center" >
        <i *ngFor="let chart of charts" [ngClass]="{'fa-circle': isChartActive(chart.id), 'fa-circle-o': !isChartActive(chart.id)}" (click)="changeActiveChart(chart.id)" class="fa" aria-hidden="true"></i>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
        <div>All tasks</div>
        <div fxFlex></div>
        <div> {{ dayStatistics.estimatedTime.value|minutes2hours }}</div>
    </div>
    <div *ngFor="let arg of dayStatistics.priorities"  fxLayout="row" fxLayoutAlign="start center" >
        <div >Priority {{ arg.name }}</div>
        <div fxFlex></div>
        <div> {{ arg.estimatedTime|minutes2hours }}</div>
    </div>
    <div *ngFor="let arg of dayStatistics.lists"  fxLayout="row" fxLayoutAlign="start center" [hidden]="!arg.estimatedTime">
        <div>{{ arg.name }}</div>
        <div fxFlex></div>
        <div> {{ arg.estimatedTime|minutes2hours }}</div>
    </div>
    <div *ngFor="let arg of dayStatistics.tags"  fxLayout="row" fxLayoutAlign="start center"  [hidden]="!arg.estimatedTime">
        <div>{{ arg.name }}</div>
        <div fxFlex></div>
        <div> {{ arg.estimatedTime|minutes2hours }}</div>
    </div>

</div>
</mat-card>
