<div class="header" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start center" ><span >Overdue tasks</span></div>
    <span fxFlex></span>
    <tickist-menu-button [icon]="'fa-share'" (click)="postponeToToday()" [fontSize]="'18px'"></tickist-menu-button>
    <change-task-view [defaultTaskView]="defaultTaskView" (currentTaskViewEvent)="changeTaskView($event)">
    </change-task-view>
</div>

<app-single-task class="item" [task]="task" [mediaChange]="mediaChange"
                 *ngFor="let task of tasks;trackBy: trackByFn">

</app-single-task>

<!--<app-tasks-list [tasks]="tasks" [taskView]="taskView" [virtualScrollEnabled]="false"></app-tasks-list>-->
