<mat-toolbar>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-around center">
        <a class="logo" [routerLink]="['/about']">
            <div class="docs-logotype"><img [src]="'/assets/images/logo_32.png'"></div>
        </a>
        <span fxFlex></span>
        <button mat-button [routerLink]="['/signup']"><i class="fa fa-user-plus" aria-hidden="true"></i><span>Sign up</span> </button>
        <button mat-button [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Log in</span> </button>

        </div>
</mat-toolbar>
