<mat-card fxFlex="100">
    <form *ngIf="projectForm" [formGroup]="projectForm" novalidate (ngSubmit)="onSubmit(projectForm.value)"
          fxLayoutAlign="start none" class="flex-container" fxLayout="column"
          (keydown.enter)="$event.preventDefault()">
        <div fxFlex="10px">
            <span class="close" (click)="close()">
                <fa-icon [icon]="'times'" aria-hidden="true"></fa-icon>
            </span>
        </div>
        <div fxLayout="row" class="main-view" fxFlex>
            <div fxFlex.gt-md="230px" fxFlex.lt-md="30%" class="left-menu">
                <mat-list>
                    <mat-list-item (click)="changeActiveItemInMenu('main')"
                                   [ngClass]="{
                                    'active': checkActiveItemInMenu('main'),
                                    'invalid': !projectForm.controls['main'].valid && projectForm.controls['main'].touched
                                   }">

                        <fa-icon [icon]="'edit'"></fa-icon>

                        <p [fxHide.xs]="1"><span>General</span></p>
                    </mat-list-item>

                    <mat-list-item (click)="changeActiveItemInMenu('extra')"
                                   [ngClass]="{
                                   'active': checkActiveItemInMenu('extra'),
                                   'invalid': !projectForm.controls['extra'].valid && projectForm.controls['extra'].touched
                                   }">
                        <fa-icon [icon]="'wrench'"></fa-icon>
                        <p [fxHide.xs]="1"><span>Extra</span></p>

                    </mat-list-item>

                    <mat-list-item (click)="changeActiveItemInMenu('sharing')"
                                   [ngClass]="{
                                   'active': checkActiveItemInMenu('sharing')
                                   }">
                        <fa-icon [icon]="'tags'"></fa-icon>

                        <p [fxHide.xs]="1"><span>Sharing</span></p>

                    </mat-list-item>

                    <mat-list-item (click)="changeActiveItemInMenu('branding')"
                                   [ngClass]="{
                                   'active': checkActiveItemInMenu('branding')
                                   }">
                        <fa-icon [icon]="'icons'"></fa-icon>

                        <p [fxHide.xs]="1"><span>Branding</span></p>

                    </mat-list-item>

                </mat-list>
            </div>
            <div fxFlex="68%" class="right-menu">
                <div [hidden]="!menu.main" formGroupName="main">

                    <div fxLayout="column">
                        <mat-form-field>
                            <input name="projectName" matInput placeholder="Project name" maxlength="100"
                                   formControlName="name" cdkTrapFocus cdkTrapFocusAutoCapture="true"
                            >

                        </mat-form-field>

                        <mat-form-field>
                            <mat-select data-cy='select-project-type' placeholder="Project type" formControlName="projectType">
                                <mat-option *ngFor="let projectType of projectTypes"
                                            [value]="projectType"> {{ projectType }}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <mat-form-field>
                            <mat-select (selectionChange)=ancestorChange($event) data-cy='select-ancestor' placeholder="Ancestor" formControlName="ancestor">
                                <mat-option *ngFor="let project of projectsAncestors"
                                            [ngClass]="'level_' + project.level"
                                            [value]="project.id"> {{ project.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                                <textarea name="projectDescription" matInput #projectDescription
                                          formControlName="description"
                                          placeholder="Project description">
                                </textarea>
                            <mat-hint align="end">{{projectDescription.value?.length || 0}}/5000</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div [hidden]="!menu.extra" formGroupName="extra">
                    <div fxLayout="column">
                        <div class="form-field" fxLayout="column">
                            <span>Default priority of project tasks</span>
                            <tickist-priority formControlName="defaultPriority">
                            </tickist-priority>

                        </div>

                        <div class="form-field">
                            <span>Default due date for all tasks in the project:</span>
                            <mat-radio-group formControlName="defaultTypeFinishDate" fxLayout.xs="column">
                                <mat-radio-button [ngStyle]="{'margin-right': '10px'}"
                                                  *ngFor="let option of typeFinishDateOptions" [value]="option.id">
                                    {{ option.name }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="form-field">
                            <span>Default task view:</span>
                            <mat-radio-group formControlName="taskView" fxLayout.xs="column">
                                <mat-radio-button [ngStyle]="{'margin-right': '10px'}"
                                                  *ngFor="let option of defaultTaskView" [value]="option.value">
                                    {{ option.name }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <mat-form-field>
                            <mat-select placeholder="Choose default date"
                                        formControlName="defaultFinishDate"
                                        name="defaultFinishDate">
                                <mat-option *ngFor="let option of defaultFinishDateOptions" [value]="option.id">
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-checkbox formControlName="dialogTimeWhenTaskFinished">
                            Always open the form to edit estimated / real time after completing a task from this
                            project
                        </mat-checkbox>


                    </div>
                </div>

                <div [hidden]="!menu.sharing">
                    <div fxLayout="column" *ngIf="isNewProject()">
                        Sharing tab will be available after creating the project
                    </div>

                    <div fxLayout="column" *ngIf="!isNewProject()">

                        <mat-form-field>
                            <input matInput placeholder="Write an email to invite new user to this project."
                                   [matAutocomplete]="auto" [formControl]="addUserToShareWithListCtrl">
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button (click)="inviteUser()" type="button"> Invite</button>
                        </div>

                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let u of filteredUsers | async" [value]="u.email">
                                <tickist-user-avatar *ngIf="u.avatarUrl" [userId]="u.id" [avatarUrl]="u.avatarUrl"
                                                     [size]="'24x24'"></tickist-user-avatar>
                                <tickist-user-avatar *ngIf="!u.avatarUrl" [avatarUrl]="DEFAULT_USER_AVATAR"
                                                     [size]="'24x24'"></tickist-user-avatar>
                                <span>{{ u.email }}</span>
                            </mat-option>
                        </mat-autocomplete>

                        <mat-list>
                            <mat-list-item *ngFor="let u of shareWith">
                                <tickist-user-avatar matListAvatar [userId]="u.id" [avatarUrl]="u.avatarUrl"
                                                     [size]="'32x32'"></tickist-user-avatar>

                                <h3 matLine>
                                    <span>{{ u.username }}</span>
                                </h3>
                                <p matLine>{{ u.email }}</p>
                                <span (click)="removeUserFromShareWithList(u)">
                                    <fa-icon [icon]="'times'" [ngStyle]="{'font-size': '32px'}"></fa-icon>
                                </span>

                            </mat-list-item>

                        </mat-list>

                        <mat-list>
                            <mat-list-item *ngFor="let u of usersWithoutAccount">
                                <tickist-user-avatar *ngIf="u.status == userWithoutAccountStatus.Processing"
                                                     matListAvatar [avatarUrl]="DEFAULT_USER_AVATAR"
                                                     [size]="'32x32'">

                                </tickist-user-avatar>
                                <fa-icon matListAvatar
                                         *ngIf="u.status == userWithoutAccountStatus.Error"
                                         [icon]="['fas', 'exclamation-circle']"
                                         [ngStyle]="{'font-size': '32px'}">
                                </fa-icon>
                                <h3 matLine>
                                    <span>{{ u.email }}</span>

                                </h3>
                                <p matLine *ngIf="u.status == userWithoutAccountStatus.Error">
                                    User doesn't have a tickist account.
                                </p>
                                <mat-spinner *ngIf="u.status == userWithoutAccountStatus.Processing"
                                             diameter="32"></mat-spinner>
                                <span *ngIf="u.status == userWithoutAccountStatus.Error"
                                      (click)="deleteUserFromInviteList(u)">
                                    <fa-icon [matTooltip]="'Delete an invitation'" [icon]="'times'" [ngStyle]="{'font-size': '32px'}"></fa-icon>
                                </span>
                            </mat-list-item>

                        </mat-list>

                    </div>
                </div>
                <div [hidden]="!menu.branding" formGroupName="branding" [ngStyle]="{height: '100%', overflow: 'hidden'}">
                    <div class="selected-branding" *ngIf="{icon: icon$ | async, color: color$ | async } as data">
                        Selected icon: <fa-icon size="lg" [icon]="data.icon" [styles]="{color: data.color}"></fa-icon>
                    </div>
                    <tickist-color-picker [colors]="colors" customColorPicker="true"
                                          formControlName="color"></tickist-color-picker>
                    <tickist-icon-picker formControlName="icon">

                    </tickist-icon-picker>
                </div>
            </div>


        </div>

        <div fxLayout="row" fxLayoutAlign="end none" fxFlex="40px">
            <button type="submit" mat-button class="button" data-cy="save project">{{ submitButtonLabel }}</button>

        </div>

    </form>
</mat-card>

