<div id="request-reset-password-container" class="flex-container" fxLayoutAlign="center center" fxLayout="row">

    <mat-card fxLayoutAlign="center center" fxLayout="column">
        <img class="logo" mat-card-image src="/assets/images/logo_230.png" alt="Tickist logo">
        <div *ngIf="!requestChangePasswordMessage" class="text">
            Enter your email address and we'll send you instructions on how to reset your password.
        </div>
        <div class="text">
            {{ requestChangePasswordMessage }}
        </div>
        <form fxLayout="column" fxLayoutAlign="space-between none" [formGroup]="requestChangePasswordForm"
              (ngSubmit)="requestChangePassword($event, requestChangePasswordForm.value)">

            <mat-form-field>
                <input matInput id="email" type="email" name="emaild"
                       placeholder="email"
                       [formControl]="requestChangePasswordForm.controls['email']"
                       [ngClass]="{'input-error': ((requestChangePasswordForm.controls['email'].hasError('required') || requestChangePasswordForm.controls['email'].hasError('minlength')) && requestChangePasswordForm.controls['email'].touched)}">
            </mat-form-field>

            <div class="pull-right">
                <button type="submit" mat-button [disabled]="!requestChangePasswordForm.valid">Send request
                </button>
            </div>

        </form>
    </mat-card>
</div>
