@import "../../../../shared/variables";

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex: 1;
}


#request-reset-password-container {
    width: 100%;
    height: 100%;

    mat-card {
        width: 300px;
    }
}

.logo {
    padding-top: 16px;
    height: 97px;
    width: 230px;
}
