<div fxLayout="column">Repeat:

    <mat-radio-group [ngStyle]="{'margin-bottom': '10px'}" [(ngModel)]="repeatDefault" (change)="saveTask($event, 'repeatDefault')" fxLayout="column">
        <mat-radio-button *ngFor="let option of defaultRepeatOptions" [value]="option.id">
            {{ option.name }}
        </mat-radio-button>
        <mat-radio-button [value]="99">every</mat-radio-button>
    </mat-radio-group>
    <div [hidden]="repeatDefault !== 99">
        <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign.xs="center none"
             fxLayoutAlign="space-between center">

            <mat-form-field fxFlex="40">
                <input matInput [value]="repeatDelta" type="number"
                       pattern="\d+" min="2" (blur)="saveTask($event, 'repeatDelta')"
                       max="100">

            </mat-form-field>
            <mat-form-field fxFlex="40">
                <mat-select (selectionChange)="saveTask($event, 'repeatCustom')" [(ngModel)]="repeatCustom">
                    <mat-option *ngFor="let option of customRepeatOptions"
                                [value]="option.id"> {{ option.name_of_extension }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div [hidden]="repeatDefault === 0">
        <span>From:</span>
        <mat-radio-group  [ngStyle]="{'margin-top': '5px'}" [value]="fromRepeating" fxLayout="column" (change)="saveTask($event, 'fromRepeating')">
            <mat-radio-button *ngFor="let option of fromRepeatingOptions" [value]="option.id">
                {{ option.name }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

</div>
