<div class="task" fxLayout="row" fxLayoutAlign="start none">
    <div (click)="toggleDone()" [ngClass]="task.priority" fxFlex="60px" class="done">
        <i class="fa"
           [ngClass]="{'fa-check-square-o': task.status == 1, 'fa-square-o': task.status == 0, 'fa-pause': task.status == 2 }">
        </i>

    </div>
    <div fxLayout="column" fxFlex>
        <div id="first-row" fxLayout="row">
            <task-name [task]=task></task-name>
            <span fxFlex></span>
            <div class="right-menu">
                <button class=" small-icon" [routerLink]="['/home/task', task.id]">
                    <i class="fa fa-edit"></i>
                </button>
                <button aria-label="Pin task"
                        class="hover_button  small-icon"
                        (click)="togglePin()"
                        [ngClass]="{pinned: task.pinned == true, unpinned: task.pinned == false}">
                    <i class="fa fa-thumb-tack"></i>
                </button>

            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <span class="task-list-icon"  (click)="changeShowing('isTaskProject')">
                <i class="fa fa-list " [ngStyle]="{'color': task.taskProject.color}"></i>
            </span>

            <button class="small-icon" aria-label="Task description"
                    [ngClass]="{'disappear': !task.description}"
                    (click)="changeShowing('isDescription')">
                <i class="fa fa-comment-o"></i>
            </button>
            <button class="small-icon" aria-label="Tags"
                    [ngClass]="{'disappear': task.tags.length === 0}"
                    (click)="changeShowing('isTags')">
                <i class="fa fa-tags"></i>
            </button>
            <button class="small-icon" aria-label="Task repeat options"
                    (click)="changeShowing('isRepeat')"
                    [ngClass]="{'disappear': task.repeat == 0}">
                <i class="fa fa-repeat"></i>
            </button>
            <button class=" small-icon user-avatar" *ngIf="task.menuShowing['sharedList']"
                    (click)="changeShowing('isAssignedTo')" >
                <img [src]="staticUrl + task.owner.avatarUrl | avatarsize: '16x16'">
            </button>
            <span fxHide.xs (click)="changeShowing('isSteps')" fxFlex="20"  [ngClass]="{'disappear': task.steps.length === 0}">

            </span>
             <button fxShow.xs fxHide.gt-xs class="small-icon" (click)="changeShowing('isSteps')">
               <i class="fa fa-tasks" aria-hidden="true"></i>
            </button>
            <span fxFlex></span>
            <span class="finish-date-icon" *ngIf="task.finishDate" (click)="changeShowing('isFinishDate')">
                <i class="fa"
                   [ngClass]="{'fa-dot-circle-o': task.typeFinishDate == '1', 'fa-arrow-right': task.typeFinishDate == '0'}"></i>
            </span>
            <span (click)="changeShowing('isFinishDate')" class="finish-date-date" *ngIf="task.finishDate">{{ task.finishDate.format(dateFormat) }}</span>


        </div>
    </div>

</div>

<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="task-description" *ngIf="task.menuShowing['isDescription']" fxFlexOffset="60px" [innerHTML]="task.richDescription">

    </div>




    <div *ngIf="task.menuShowing['isTags']" class="task-tags" fxFlexOffset="60px">
        <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip *ngFor="let tag of task.tags" >
                <span>{{ tag.name }}</span><span fxFlex></span><i matTooltip="Remove tag" (click)="removeTag(tag)" class="fa fa-times"></i>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div id="repeat-options" *ngIf="task.menuShowing['isRepeat']" fxFlexOffset="60px">
         <app-edit-repeating-option [task]="task"></app-edit-repeating-option>

    </div>
    <div *ngIf="task.menuShowing['isTaskProject']">
        <div id="change-project-task" fxFlexOffset="60px">
            <mat-select placeholder="Project:" [(ngModel)]="task.taskProject.id" (change)="changeProject($event)">
                <mat-option *ngFor="let project of projects"
                           [value]="project.id"> {{ project.name }} </mat-option>
            </mat-select>
        </div>
    </div>

    <div *ngIf="task.menuShowing['isAssignedTo']">
        <div  id="change-assigned-to" fxFlexOffset="60px">
            <mat-select placeholder="Assigned to:" [(ngModel)]="task.owner.id" (change)="changeAssignedTo($event)">
                <mat-option *ngFor="let user of task.taskProject.shareWith"
                           [value]="user.id"> {{ user.username }} </mat-option>
            </mat-select>
        </div>
    </div>

    <div id="finish-date-options" *ngIf="task.menuShowing['isFinishDate']" fxFlexOffset="60px">
        <app-date-options [task]="task"></app-date-options>

    </div>


</div>

