<div class="task" fxLayout="row" fxLayoutAlign="start none">


    <div (click)="toggleDone()" [ngClass]="task.priority" class="done">
        <i class="fa" [ngClass]="{'fa-check-square-o': task.status == 1, 'fa-square-o': task.status == 0, 'fa-pause': task.status == 2 }"></i>
    </div>

    <task-name [task]="task" ></task-name>
    <span fxFlex></span>
    <div class="right-menu">
        <div class="without-hover">
            <span class="date" *ngIf="task.finishDate">
                <i class="fa" [ngClass]="{'fa-dot-circle-o': task.typeFinishDate == '1', 'fa-arrow-right': task.typeFinishDate == '0'}"></i>
            </span>
            <span class="mat-caption date" *ngIf="task.finishDate">{{ task.finishDate.format("DD-MM-YYYY") }}</span>
        </div>
        <div class="hover">
            <tickist-pin-button [pinned]="task.pinned"  (click)="togglePin()">

            </tickist-pin-button>

            <tickist-menu-button [icon]="'fa-edit'"
                     [routerLink]="['/home/task', task.id]">
            </tickist-menu-button>

            <tickist-menu-button [icon]="'fa-ellipsis-v'">
            </tickist-menu-button>
        </div>
    </div>


</div>
