<tickist-menu-button [icon]="'fa-filter'" [fontSize]="'18px'" [mat-menu-trigger-for]="filtersMenu">
</tickist-menu-button>

<mat-menu #filtersMenu="matMenu">
  <button (click)="openTasksFilterDialog()" mat-menu-item>Filter by: {{ (currentMainFilter$ | async).name }}</button>
  <button (click)="openAssignedToDialog()" mat-menu-item>Assigned to: {{ (currentAssignedToFilter$ | async).name }}</button>
  <button (click)="openEstimateTimeDialog()" mat-menu-item> Estimated time:  {{ (currentEstimateTimeFilter$ | async).currentFilter_lt.name }} -  {{ (currentEstimateTimeFilter$ | async).currentFilter_gt.name }}</button>
  <button (click)="openTagsFilterDialog()" mat-menu-item>Tags: {{ tagsValue() }}</button>
</mat-menu>




