<cdk-virtual-scroll-viewport itemSize="90" class="viewport">

            <div class="header" fxLayout="row" fxLayoutAlign="start none">

                <div fxFlex fxLayoutAlign="start center" ><span>Future tasks from {{ activeDateElement?.date.format("MMMM YYYY") }}</span></div>
                <span fxFlex></span>
                <change-task-view [defaultTaskView]="defaultTaskView" (currentTaskViewEvent)="changeTaskView($event)"></change-task-view>
            </div>


    <tickist-filter-future-tasks></tickist-filter-future-tasks>

    <tickist-single-task class="item" [task]="task" [mediaChange]="mediaChange" [taskView]="taskView"
                     *cdkVirtualFor="let task of futureTasks;trackBy: trackByFn">

    </tickist-single-task>
    <tickist-no-tasks [tasksLength]="futureTasks.length"></tickist-no-tasks>

</cdk-virtual-scroll-viewport>





