
<tickist-nav></tickist-nav>

<mat-sidenav-container *ngIf="leftSidenavVisibility && rightSidenavVisibility">
    <mat-sidenav [mode]="leftSidenavVisibility.mode"
                [opened]="leftSidenavVisibility.open" (close)="closeLeftSidenavVisiblity()" >

       <router-outlet name="leftSideNav"></router-outlet>

    </mat-sidenav>


    <mat-sidenav [position]="rightSidenavVisibility.position" [opened]="rightSidenavVisibility.open" [mode]="rightSidenavVisibility.mode"
                (close)="closeRightSidenavVisiblity()" >
        <tickist-global-statistics></tickist-global-statistics>
    </mat-sidenav>
    <div [ngClass.gt-sm]="'right-sidenav left-sidenav'" class="content">

        <router-outlet></router-outlet>
    </div>


</mat-sidenav-container>
<tickist-add-task *ngIf="addTaskComponentVisibility"></tickist-add-task>




