<cdk-virtual-scroll-viewport itemSize="90" class="viewport">
    <div *ngIf="!selectedProject"  class="project-header">
        <div class="header">
            <div>All tasks</div>
            <div fxFlex></div>
            <tickist-sort-tasks></tickist-sort-tasks>
            <app-filter-tasks [showTags]="true"></app-filter-tasks>
            <change-task-view [defaultTaskView]="defaultTaskView"
                              (currentTaskViewEvent)="changeTaskView($event)"></change-task-view>

        </div>
    </div>
    <div *ngIf="selectedProject"  class="project-header">
        <div class="header">
            <div>{{ selectedProject.name }}</div>
            <div fxFlex></div>
            <tickist-menu-button [icon]="'fa-pencil-square-o'" [fontSize]="'18px'"
                                 [routerLink]="['/home/project/', selectedProject.id]">
            </tickist-menu-button>
            <tickist-sort-tasks></tickist-sort-tasks>
            <app-filter-tasks [showTags]="true"></app-filter-tasks>
            <change-task-view [defaultTaskView]="defaultTaskView"
                              (currentTaskViewEvent)="changeTaskView($event)"></change-task-view>
        </div>

        <div *ngIf=selectedProject.hasDescription()
             class="project-description">{{ selectedProject.richDescription }}</div>

    </div>

    <app-single-task class="item" [task]="task" [mediaChange]="mediaChange"
                     *cdkVirtualFor="let task of tasks;trackBy: trackByFn;">

    </app-single-task>
</cdk-virtual-scroll-viewport>



