:host {
    height: calc(100vh - 79px);
    overflow: hidden;
    .content {
        height: calc(100vh - 79px);
        overflow: hidden;
    }
    .project-description {
        margin-bottom: 10px;
    }
    .project-header {
        background: #394264;
        padding: 16px;
    }
}
